button {
    /*background-color: blue;*/
    /*border-radius: 20px;*/
    /*border: 0;*/
    /*min-width: 80px;*/
    /*min-height: 40px;*/
    /*color: white;*/
}

button:hover {
    cursor: pointer;
    background-color: mediumblue;
}

.container {
    display: flex;
    margin: 50px;
    gap: 50px;

}


